
body{
    background: url(../images/background.jpg) ;
    color: rgb(247, 236, 236);
    font-family: 'Playfair Display', serif;

}
/* Menu vertical */

#menu-vertical  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu-vertical a{
    display: inline-block;
    height: 50px;
    width: 150px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: grey;
    color: white;
    border: 1px solid white;
}

#menu-vertical a:hover{
    background-color:wheat;
}

/* Menu Horizontal */

#menu-horizontal  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu-horizontal a{
    display: inline-block;
    height: 50px;
    width: 150px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: grey;
    color: white;
    border: 1px solid white;
}

#menu-horizontal a:hover{
    background-color: rgb(148, 185, 233);
}

#menu-horizontal li{
    float: left;
}
.stop-float {
    clear: both;
}

/* Menu Deroulant simple  */

#menu-deroulant  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu-deroulant a{
    display: inline-block;
    height: 50px;
    width: 150px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: grey;
    color: white;
    border: 1px solid white;
}

#menu-deroulant a:hover{
    background-color: rgb(218, 160, 160);
}

#menu-deroulant>nav>ul>li{
    float: left;
    position: relative;
}

#menu-deroulant nav ul li ul{
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    z-index: 1;
    display: none;

}
#menu-deroulant nav ul>li:hover ul{
    display: block;
}
div.videos{

    display: flex;
    justify-content: center;
}
div#menus{
    display: flex;
    justify-content: space-evenly;
}

h2, h3 {
background-color: rgb(136, 136, 218);
}
h3{
    text-align: center;
}

h1, p{
    color: black;
}
span{
    background-color: red;
    font-weight: 900;
}